/* Card-------------------------------------------------------------------------- */
/* Cards--------- */

.card__inner {
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
  }
  
  .card {
    width: 100%;
    perspective: 1000px;
  }
  
  

  button, input{
    z-index:10;
  }