body{
    background: url("../Assets/MobileVersion/SvgBg.svg") no-repeat center center fixed; 
    background-size: cover;
    /* overflow: hidden; */
}

body{
    background: url("../Assets/Bg.svg") no-repeat center center fixed; 
    background-size: cover;
    /* overflow: hidden; */
}